* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 24px 16px;
    width: 1208px;
    position: fixed;
    z-index: 1;
    background-color: #000000;
}

.header-container {
    display: flex;
    align-items: center;
    height: 85.14px;
    font-size: 2vw;
    font-weight: 900;
    justify-content: space-between;
}

.logo {
    color: aliceblue;
    height: 100%;
}

.nav-links {
    font-size: 20px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.nav-links a:nth-child(1) {
    border-bottom: 1px #E7672E solid; 
    color: #E7672E;
}

.nav-links a:nth-child(2):hover {
    border-bottom: 1px #E7672E solid; 
    color: #E7672E;
}

.main-perfil {
    margin-top: 110px;
    width: 1208px;
    height: calc(100vh - 110px);
    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    align-items: center;
}

.container-img {
    display: flex;
    width: 100%;
    justify-content: end;
}

.container-img img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-right: 250px;
    object-fit: cover;
}

.profile-title {
    width: 812px;
    height: 142px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E7672E;
}

.profile-description {
    font-size: 24px;
    color: rgb(218, 222, 227);
    width: 735px;
    letter-spacing: 2px;
}

.contact-section {
    height: 100vh;
    width: 100vw;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-title {
    width: 500px;
    height: 187;
    text-align: center;
    font-weight: 700;
    font-size: 72px;
}

.contact-email {
    color: rgb(218, 222, 227);
    font-size: 32px;
    margin-bottom: 5px;
}

.contact-phone {
    font-size: 20px;
    margin-bottom: 15px;
    color: rgb(218, 222, 227);
}

.contact-span a {
    text-decoration: none;
    color:#FFFFFF;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    font-weight: 900;
}

@media only screen and (max-width: 576px) {
    .nav-links {
        display: none;
    }

    .logo {
        height: 60%;
    }

    header {
        position: relative;
        height: 85.14px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburguer {
        background-color: transparent;
        border: 0px;
        outline: 0px;
        width: 40px;
        height: 45%;
        position: absolute;
        right: 15px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .burguer {
        background-color: #fff;
        width: 100%;
        height: 4px;
    }

    .content {
        width: 40%;
        height: 150px;
        background-color: #000000;
        font-size: 10px;
        font-weight: bold;
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .navigation {
        list-style-type: none;
        height: 85px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .navigation a {
        text-decoration: none;
        color: #fff;
        letter-spacing: 3px;
        font-size: 15px;
        font-weight: bold;
    }
    
    .flex {
        display: flex;  
        justify-content: center;
        align-items: end;
        height: 100%;
    }
    
    nav {
        text-align: center;
    }
    
    .close {
        position: absolute;
        right: 24px;
        top: 28px;
        cursor: pointer;
        color: #fff;
    }
    
    .material-symbols-outlined {
        font-size: 33px !important;
    }

    .navigation a:hover {
        color: #E7672E;
        border-bottom: solid 1px;
    }
    
    /*--------------------*/
    .main-perfil {
        width: 100vw;
        margin-top: 30px;
        height: auto;
    }

    .container-img {
        width: 100%;
        justify-content: center;
    }

    .container-img img {
        width: 200px;
        height: 200px;
        margin-right: 0;
    }

    .profile-title {
        width: 100vw;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 35px;
    }

    .profile-description {
        width: 100vw;
        font-size: 16px;
        color: rgb(218, 222, 227);
        line-height: 1.64;
        padding-left: 1em;
        padding-right: 1em;
    }

    .contact-section {
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        margin-top: 0;
        height: auto;
        margin-bottom: 20px;
    }

    .contact-title {
        width: 100%;
        font-size: 24px;
        margin-top: 40px;
    }

    .contact-email {
        font-size: 16px;
    }

    .contact-phone {
        font-size: 16px;
    }

    .contact-links a {
        font-size: 14px;
    }
}

@media screen and (min-width:577px) and (max-width:1200px) {
    header {
        width: 100vw;
    }

    .hamburguer {
        display: none;
    }

    .content {
        display: none;
    }

    .header-container {
        justify-content: space-between; 
    }

    .nav-links {
        font-size: 20px;
        width: 220px;
        margin-right: 25px;
    }

    .logo {
        height: 90%;
    }
    
    .profile-title {
        font-size: 50px;
    }

    .profile-description {
        font-size: 20px;
        width: 100vw;
        letter-spacing: 1.64px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .contact-section {
        width: 100vw;
    }

    .contact-title {
        text-align: center;
        font-size: 42px;
    }

    .contact-email {
        font-size: 26px;
    }

    .container-img {
        width: 100vw;
        justify-content: center;
        margin-top: 25px;
    }
    
    .container-img img {
        margin-right: 0;
    }

    .header-container {
        font-size: 80px;
    }

    .nav-links {
        font-size: 19px;
    }

    .contact-section {
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .main-perfil {
        height: auto;
        width: 100vw;
    }

    body {
        width: 100vw;
    }
}

@media screen and (min-width:1201px) {
    .hamburguer {
        display: none;
    }

    .content {
        display: none;
    }

    .container-img {
        margin-top: 20px;
    }
}

